*{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/bg.avif");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 500;
    font-family: cursive;
    letter-spacing: 2px;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-main {
    flex-grow: 1;
}
.site-header__title {
    display: inline-block;
    margin-bottom: 100px;
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
}
.hero__time-list-wrap {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
.hero__list {
    gap: 20px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding: 20px;
    border: 1px solid;
    min-height: 150px;
    background-color: rgba(5, 12, 2, 0.908);
    border-radius: 5px;
}
.hero__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    min-width: 100px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.5s ease,opacity 0.5s ease;
}
.hero__item:hover {
    transform: scale(0.989);
    opacity: 0.5;
}
.hero__item-name {
    display: inline-block;
    margin-bottom: 10px;
}
.hero__error-message {
    font-size: larger;
    color: #ff0000;
}
.hero__region-name {
    margin: 0;
    padding: 10px;
    background-color: #000000da;
    text-align: left;
    border-radius: 10px;
    color: #fff;
}
.hero__sellect {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    opacity: 0.8;
}
.hero__btn-wrapper {
    display: flex;
    gap: 20px;
}
.hero__day {
    padding: 8px;
    background-color: #000000d7;
    border-radius: 8px;
}
.hero__btn {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    opacity: 0.8;
}
.site-header__bottom-week-item {
    padding: 8px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}
.hero__tabel-wrap {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 100%;
}
.hero__tabel {
    width: 60%;
    height: 250px;
    margin-bottom: 50px;
    border: 1px solid;
    background-color: rgba(5, 12, 2, 0.908);
    border-radius: 5px;
}
.hero__tabel-th {
    padding: 5px;
    border: 1px solid;
    text-align: center;
}
.hero__tabel-td {
    padding: 5px;
    border: 1px solid;
    text-align: center;
}
th {
    text-align: center;
}
.hero__tabel-title {
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color:#000;
    border-radius: 5px;
}
.default {
    background-color: #0000008f;
    color: rgb(156, 227, 1);
    border:none;
    border-right:1px solid #fff ;
    border-bottom:1px solid #fff ;
}
.weekday {
    background-color: #0000008f;
    color: rgb(156, 227, 1);
    border:none;
    border-bottom:1px solid #fff ;
}
.hero__month-title {
    background-color: #000;
    padding: 20px;
}
.hero__some-message  {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    color:red ;
    background-color: #000;
}